<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Flasker</title>
</head>
<body>
{% if name %}
  <p>Hello <b>{{ name }}</b>!</p>
{% else %}
  <p>Hello, World!</p>
{% endif %}
</body>
</html>